body {
  font-size: 14px;
  color: #fff;
  background-color: #832A0E;
  font-family: 'Prociono', serif
}

/** HEADER **/
#header-nav {
  background-color: #C2B2A1;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 15px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Prociono', serif
  color: #832A0E;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  /**margin-top: 10px;**/
}

#nav-list a {
  color: #832A0E;
  text-align: center;
  font-weight: bold;  
  background-color: #c7d4ea;
  border: 1px solid #832A0E;
}

#nav-list a:hover {
  background: #00ff5e;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #832A0E;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */

#home-section {
  background-color: #F1948A;
  margin: 10px;
  height: auto;
    border: 2px solid #832A0E;
    background-color: #90BAC4;
}

#main-content {
  background-color: #F1948A;
}

#home-section1 {
  margin: 20px 10px 20px 10px;
}

#chi-sec, #beef-sec, #sushi-sec {
  height: auto;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #832A0E;
  overflow: hidden;
  padding: 10px;
  background-color: #90BAC4;
}

#back-home {
  font-family: 'Prociono', serif
  text-align: right;
}

#back-home a {
  color: #F9FD9E;
  font-weight: bold;  
}

#back-home a:hover {
  color: #F2FD08;
}
